body {
    background-color: rgb(166, 166, 166); /* SeaShell */
  }

  .titulo{
    font-size: 50px;
    text-align: center;
    color: rgb(212, 215, 0);

  }
  .pessoal{
    font-size: 20px;
  }

   li{
    margin-top: 15px;
   }

   img{
    border-radius: 20px;
   }
   .link{
    color: rgb(242, 255, 0);
   }
   .link:hover{
    color: rgb(255, 174, 0);
   }


   